<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>New Project Class</h1>
        <%= form_for(@projectclass, url: project_class_index_path) do |f| %>
          <% if @projectclass.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@projectclass.errors.count, "error") %> prohibited this project class from being saved:</h2>
              <ul>
                <% @projectclass.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :students, "Add Students By Email" %>
            <%= f.text_area :students, value: "", class: "form-control", rows: 4  %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control"%>
          </div>
          <%= f.submit :class => "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
