<div class="container">
  <div class="row">
    <h1><%=@projectclass.id%></h1>
  </div>
  <div class="row">
 
  <table class="table">
  <tr>
    <th>Teacher</th>
    <th>Email</th>

  </tr>
<tr>
<td><%= @teacher.get_name() %></td>
<td><%= @teacher.user.email %></td>
</tr>

</table>

   <table class="table">
  <tr>
    <th>Student</th>
    <th>Email</th>

  </tr>
<% @projectclass.students.each do |p| %>
<tr>
<td><%= p.get_name() %></td>
<td><%= p.user.email %></td>
</tr>
<% end %>
</table>
  
      <% if current_user and user_is_teacher %>
          <%= link_to 'Review this Project', new_review_path %>
      <% end %>

    </p>
    <%= link_to 'Back to Projects List', projects_path %>
  </div>
</div>


