<% debug @project %>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>New Project</h1>
        <%= form_for @project do |f| %>
          <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
              <ul>
                <% @project.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :course, "Relevant School Subjects" %>
            <%= f.text_field :course, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :grade, "Grade Level" %>
            <%= f.number_field :grade, min: 6, max: 12, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :duration, "Duration (weeks)" %>
            <%= f.select :duration, ["1","2","3","4","5","6","7","8","9","> 10"], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control", rows: 4 %>
          </div>
          <div class="form-group">
            <%= f.label :scale, "Scale" %>
            <%= f.select :scale, ["Small 0-10", "Medium 11-20", "Large 21+"], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :type, "Project Type"%>
            <%= f.text_field :type, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :learningStandards, "Learning Standards" %>
            <%= f.text_area :learningStandards, class: "form-control", rows: 1%>
          </div>
          <div class="form-group">
            <%= f.label :preparation, "Preparation Activities" %>
            <br>
            <% @preparation_activities.each do |activity|  %>
              <%= label_tag(:preparation, activity) %>
              <%= f.check_box(:preparation, { :multiple => true },unchecked_value = nil)%>
              <br>

            <% end %>
          </div>
          <%= f.submit :class => "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
