<h1>Projects#show</h1>

<p>
  <strong> Project: </strong>
  <%= @project.name %>
</p>

<p>
  <strong> Description: </strong>
  <%= @project.description %>
</p>

<p>
  <strong> Start: </strong>
  <%= @project.startDate %>
</p>

<p>
  <strong> End: </strong>
  <%= @project.endDate %>
</p>

<p>
  <strong> Recommended grade level: </strong>
  <%= @project.grade %>
</p>

<p>
  <strong> Course: </strong>
  <%= @project.course %>
</p>

<p>
  <strong> Recommended # students: </strong>
  <%= @project.numStudents %>
</p>

<%= link_to 'Back to Projects List', projects_path %>
