<div class="section">
  <div class="container">
    <h1><%=@project.name%></h1>
    <p>
      <strong>Average Overall Rating:</strong>
      <%= @overallScore %>
    </p>
    <p>
      <strong>Average Implementation Rating:</strong>
      <%= @implementationScore %>
    </p>
    <p>
      <strong>Average Planning Rating:</strong>
      <%= @planningScore %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
    <p>
      <strong>Recommended Grade Level:</strong>
      <%= @project.grade %>
    </p>

    <p>
      <strong>Relevant School Subjects:</strong>
      <%= @project.course %>
    </p>
    <p>
      <strong>School:</strong>
      <%= @project.teacher.school.name %>
    </p>
    <p>
      <% if current_user and user_is_teacher %>
        <%= link_to "Create Project Class", new_project_class_path(@project.id), class: "btn btn-primary" %>
      <% end %>
      <% if current_user and user_is_teacher %>
          <%= link_to "Create Review", new_review_path, class: "btn btn-default" %>
      <% end %>
    </p>
    <%= link_to "Back to Projects List", projects_path %>

<h2>Reviews</h2>
    <table class="table">
      <tr>
        <th>Username</th>
        <th>Overall</th>
        <th>Comments</th>
      </tr>
      <% @project.reviews.each do |r| %>
        <tr>
          <td><%= link_to User.find(r.user_id).username, user_path(r.user_id) %></td>
          <td><%= r.overallScore %></td>
          <td><%= r.comment %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>
