<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <%= csrf_meta_tags %>

    <title>Projects That Work</title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body>

    <div class="main">
      <%= render 'layouts/header' %>
      <%= render 'layouts/messages' %>

      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <% if params[:controller] == 'reviews' %>
      <%= javascript_include_tag "reviews", "data-turbolinks-eval" => true %> 
    <% end %>
  </body>
</html>
